openapi: 3.0.3
info:
  title: Agentic Nexus API
  description: RESTful API for the Agentic Nexus platform, enabling communication across services and providing key functionalities.
  version: 1.0.0
servers:
  - url: https://api.agenticnexus.com/v1
    description: Production server
  - url: https://staging.api.agenticnexus.com/v1
    description: Staging server
tags:
  - name: Users
    description: Operations related to user management
  - name: Auth
    description: Authentication and authorization endpoints
  - name: Health
    description: System health and status checks
paths:
  /users:
    get:
      summary: List all users
      description: Retrieve a paginated list of all users in the system.
      tags:
        - Users
      parameters:
        - name: page
          in: query
          required: false
          description: The page number for pagination
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          required: false
          description: The number of users per page
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: A paginated list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
        "500":
          description: Internal server error
    post:
      summary: Create a new user
      description: Add a new user to the system.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreate"
      responses:
        "201":
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /auth/login:
    post:
      summary: User login
      description: Authenticate a user and return a token.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid credentials
        "500":
          description: Internal server error
  /health:
    get:
      summary: Health check
      description: Check the health of the API system.
      tags:
        - Health
      responses:
        "200":
          description: System is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
        "500":
          description: Internal server error
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    UserCreate:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
    LoginRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    LoginResponse:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          type: string
          format: date-time